.rootPage {
  // background-color: black;
  background-image: url("./Assets/shared/desktop/bg-pattern-leaf.svg");
  background-repeat: no-repeat;
  background-position-y: 25%;
  // background-size: 100%;
}